.app-wrapper{
    background-image: url('../../assets/images/clouds-background.jpeg');
    min-height: calc(100vh - 60px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}